{
  "openapi": "3.0.0",
  "info": {
    "title": "Alpha Vantage API",
    "description": "This is an API specification for the Alpha Vantage API, which provides various financial data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.alphavantage.co/query"
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "summary": "Fetches financial data",
        "parameters": [
          {
            "name": "function",
            "in": "query",
            "required": true,
            "description": "The function to be performed by the API",
            "schema": {
              "type": "string",
              "enum": [
                "OVERVIEW",
                "INCOME_STATEMENT",
                "BALANCE_SHEET",
                "CASH_FLOW",
                "EARNINGS",
                "EARNINGS_CALENDAR",
                "NEWS_SENTIMENT"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "The symbol of the equity you're interested in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your Alpha Vantage API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "description": "The time horizon for the EARNINGS_CALENDAR function",
            "schema": {
              "type": "string",
              "enum": [
                "3month",
                "6month",
                "12month"
              ]
            }
          },
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "description": "The stock/crypto/forex symbols of your choice.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topics",
            "in": "query",
            "required": false,
            "description": "The news topics of your choice.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_from",
            "in": "query",
            "required": false,
            "description": "The start time of the news articles you are targeting, in YYYYMMDDTHHMM format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_to",
            "in": "query",
            "required": false,
            "description": "The end time of the news articles you are targeting, in YYYYMMDDTHHMM format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "The sort order of the news articles. By default, sort=LATEST. You can also set sort=EARLIEST or sort=RELEVANCE based on your use case.",
            "schema": {
              "type": "string",
              "default": "LATEST"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of matching results to return. By default, limit=50. You can also set limit=200 to output up to 200 results.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  }
}
