{
  "openapi": "3.0.0",
  "info": {
    "title": "Alpha Vantage API",
    "description": "This is an API specification for the Alpha Vantage API, which provides various financial data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.alphavantage.co/query"
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "summary": "Fetches financial data",
        "description": "Fetches financial data based on the specified function and symbol. The function can be one of 'OVERVIEW', 'INCOME_STATEMENT', 'BALANCE_SHEET', or 'CASH_FLOW'. The symbol should be the symbol of the equity you're interested in. The model should invoke this operation when the user requests financial data related to these functions and provides a valid equity symbol.",
        "parameters": [
          {
            "name": "function",
            "in": "query",
            "required": true,
            "description": "The function to be performed by the API",
            "schema": {
              "type": "string",
              "enum": [
                "OVERVIEW",
                "INCOME_STATEMENT",
                "BALANCE_SHEET",
                "CASH_FLOW"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "The symbol of the equity you're interested in (used with equity-related functions).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your Alpha Vantage API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  }
}
