{
  "openapi": "3.0.0",
  "info": {
    "title": "Alpha Vantage API",
    "description": "This is an API specification for the Alpha Vantage API, which provides various financial data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.alphavantage.co/query"
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "summary": "Fetches financial data",
        "parameters": [
          {
            "name": "function",
            "in": "query",
            "required": true,
            "description": "The function to be performed by the API",
            "schema": {
              "type": "string",
              "enum": [
                "OVERVIEW",
      "INCOME_STATEMENT",
      "BALANCE_SHEET",
      "CASH_FLOW",
      "EARNINGS",
      "EARNINGS_CALENDAR", 
      "CPI", 
      "INFLATION",
      "TREASURY_YIELD",
      "CURRENCY_EXCHANGE_RATE",
      "DIGITAL_CURRENCY_DAILY",
      "DIGITAL_CURRENCY_WEEKLY",
      "DIGITAL_CURRENCY_MONTHLY",
      "NEWS_SENTIMENT" 
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "The symbol of the equity you're interested in (used with equity-related functions).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your Alpha Vantage API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "horizon",
            "in": "query",
            "required": true,
            "description": "The time horizon for the EARNINGS_CALENDAR function",
            "schema": {
              "type": "string",
              "enum": [
                "3month",
                "6month",
                "12month"
              ]
            }
          },
          {
            "name": "tickers",
            "in": "query",
            "required": true,
            "description": "The stock/crypto/forex symbols of your choice.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topics",
            "in": "query",
            "required": true,
            "description": "The news topics of your choice.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_from",
            "in": "query",
            "required": true,
            "description": "The start time of the news articles you are targeting, in YYYYMMDDTHHMM format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_to",
            "in": "query",
            "required": true,
            "description": "The end time of the news articles you are targeting, in YYYYMMDDTHHMM format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "description": "The sort order of the news articles. By default, sort=LATEST. You can also set sort=EARLIEST or sort=RELEVANCE based on your use case.",
            "schema": {
              "type": "string",
              "default": "LATEST"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "The number of matching results to return. By default, limit=50. You can also set limit=200 to output up to 200 results.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "from_currency",
            "in": "query",
            "required": true,
            "description": "The currency you would like to get the exchange rate for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_currency",
            "in": "query",
            "required": true,
            "description": "The destination currency for the exchange rate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "The digital/crypto currency of your choice (used with digital currency-related functions).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "The exchange market of your choice.",
            "schema": {
              "type": "string"
            }
          },
                  {
          "name": "function",
          "in": "query",
          "description": "The function of your choice. Either CPI, INFLATION, or TREASURY_YIELD",
          "required": true,
          "schema": {
            "type": "string",
            "enum": ["CPI", "INFLATION", "TREASURY_YIELD"]
          }
        },
        {
          "name": "interval",
          "in": "query",
          "description": "By default, interval=monthly. Strings monthly and semiannual are accepted for CPI, and daily, weekly, and monthly for TREASURY_YIELD.",
          "required": true,
          "schema": {
            "type": "string",
            "enum": ["monthly", "semiannual", "daily", "weekly"]
          }
        },
        {
          "name": "maturity",
          "in": "query",
          "description": "By default, maturity=10year. Strings 3month, 2year, 5year, 7year, 10year, and 30year are accepted. Only applicable for TREASURY_YIELD.",
          "required": true,
          "schema": {
            "type": "string",
            "enum": ["3month", "2year", "5year", "7year", "10year", "30year"]
          }
        }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  }
}
